/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header Styling */
header {
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: square;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: navajowhite;
    color: white;
    font-weight: bold;
}

/* Main Section */
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #f5f5f5;
}

.card {
    background: white;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

h2 {
    color: #28a745;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer a {
    color: #3728a7;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
}
